# This is a basic workflow to help you get started with Actions

name: Incremental CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  pull_request:
    branches: 
      - '**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Incremental_Build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell

      - name: Main Branch - Run a one-line script
        run: |
          chmod +x ./testpipeline.sh
          ./testpipeline.sh
      
      # Runs a set of commands using the runners shell
      - name: Main Branch - Run a multi-line scripts
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo ${{github.base_ref}}
          echo ${{github.head_ref}}
          echo ${{github.ref}}
          echo ${{github.repository_owner}}
          echo ${{github.repository}}
          echo ${{github.event}}
          echo ${{github.event_name}}
          echo ${{github.event_path}}
          echo ${{github.event}}
          echo $GITHUB_API_URL
          echo $GITHUB_WORKFLOW
          echo $GITHUB_REPOSITORY
          echo $GITHUB_SHA
          echo $(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          echo $GITHUB_REPOSITORY/$GITHUB_SHA
          echo https://api.github.com/repos/$GITHUB_REPOSITORY/pulls/$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")/files
          echo https://api.github.com/repos/$GITHUB_REPOSITORY/commits/$GITHUB_SHA
          
      #- name: 'Upload Artifact'
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: my-sample
      #    path: my_sample.txt
      
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: my-sample
      
      - name: Main Branch - Run a one-line script
        run: echo my_sample.txt
